.custom-table-responsive {
  overflow-x: auto;
}

.custom-table {
  margin-block-start: 3rem;
  border-spacing: 0;
  border-radius: 1rem;
  overflow: hidden;

  thead tr th{
    background-color: var(--secondary-color);
    color: #FFF;
  }

}

